In [13]:
import numpy as np
import matplotlib.pyplot as plt
import scipy

#Fitting the spectrum
from scipy.optimize import curve_fit

#Packages for using tables in astropy
from astropy.table import QTable
from astropy.io import ascii

#Using csv tables
import pandas as pd

The goal of this notebook is to fit the radio emission of the supernova 1993J, data can be extracted from https://iopscience.iop.org/article/10.1086/523258/pdf and is also aviable in this Github.

# Introduction.

First, we need to save all the spectrum data in python variables.

In [50]:
data_1= pd.read_csv("Data/Datos SuperNova - 1.2_cm.csv")
data_2= pd.read_csv("Data/Datos SuperNova - 2_cm.csv")
data_3= pd.read_csv("Data/Datos SuperNova - 3.6_cm.csv")
data_6= pd.read_csv("Data/Datos SuperNova - 6_cm.csv")
data_20= pd.read_csv("Data/Datos SuperNova - 20_cm.csv")

data_1

       Days Telescope    Flux  Error
0     11.37     VLA B  18.940  1.905
1     12.33     VLA B  22.487  2.261
2     13.04     VLA B  25.753  2.576
3     13.46     VLA B  25.550  2.578
4     14.25     VLA B  28.640  2.875
..      ...       ...     ...    ...
77  3213.38   VLA D/A   2.495  0.282
78  3708.93     VLA A   1.928  0.237
79  3959.47   VLA B/C   1.792  0.191
80  4184.57     VLA A   0.967  0.217
81  4460.90   VLA B/C   0.897  0.139

[82 rows x 4 columns]